/* Base style for all links */
a {
	color: var(--link-color);
	text-decoration: underline;
	cursor: pointer;
}

/* Unvisited links */
a:link {
	color: var(--link-color);
}

/* Visited links */
a:visited {
	color: var(--link-color);
}

/* Active (clicked) links */
a:active {
	font-weight: bold;
	color: var(--link-color);
}