@import url(links.css);
@import url(clock.css);
@import url(tz-picker.css);
@import url(theme-toggle.css);

:root {
	--main-bg-color: whitesmoke;
	--main-text-color: gray;
	--clock-hand-color: gray;
	--link-color: black;
	--sweep-hand-color: red;
}

[data-theme="dark"] {
	--main-bg-color: #292a2e;
	--main-text-color: tan;
	--clock-hand-color: whitesmoke;
	--link-color: whitesmoke;
	--sweep-hand-color: red;
}

* {
	box-sizing: border-box;
	font-family: monospace;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	background-color: var(--main-bg-color);
	position: relative;
	transition: all ease 0.2s;
}

header {
	font-size: 2rem;
	color: var(--main-text-color);
	padding: 2rem 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	transition: all ease 0.2s;
}

footer {
	margin-top: auto;
	padding: 1rem;
	color: var(--main-text-color);
	transition: all ease 0.2s;
}